<div class="column-layout-top">
  <div class="shrunk">
    <ul class="nav flex-column">
      <% sidebar_items.each do |item| %>
        <% if item[:admins_only] %>
          <% admins_only do %>
            <li class="nav-item">
              <%= link_to(item[:icon], item[:path], class: "nav-link #{item[:class]}") %>
            </li>
          <% end %>
        <% elsif item[:owners_only] %>
          <% owners_only do %>
            <li class="nav-item">
              <%= link_to(item[:icon], item[:path], class: "nav-link #{item[:class]}") %>
            </li>
          <% end %>
        <% else %>
          <li class="nav-item">
            <%= link_to(item[:icon], item[:path], class: "nav-link #{item[:class]}") %>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>

  <div class="enlarged">
    <ul class="nav flex-column">
      <% sidebar_items.each do |item| %>
        <% if item[:admins_only] %>
          <% admins_only do %>
            <li class="nav-item">
              <%= link_to(item[:icon_with_text], item[:path], class: "nav-link #{item[:class]}") %>
            </li>
          <% end %>
        <% elsif item[:owners_only] %>
          <% owners_only do %>
            <li class="nav-item">
              <%= link_to(item[:icon_with_text], item[:path], class: "nav-link #{item[:class]}") %>
            </li>
          <% end %>
        <% else %>
          <li class="nav-item">
            <%= link_to(item[:icon_with_text], item[:path], class: "nav-link #{item[:class]}") %>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>
