<div class="column-layout-top">

  <ul class="nav flex-column">
    <li class="nav-item">
      <%= link_to t('website'), dashboard_path, class: 'nav-link' %>
    </li>
    <li class="nav-item">
      <%= link_to(fa_icon('dashboard', text: 'Dashboard'), dashboard_path, class: "nav-link #{active_if(dashboard_path)}") %>
    </li>
    <li class="nav-item">
      <%= link_to(fa_icon('search', text: 'Search listings'), search_path, class: "nav-link #{active_if(search_path)}") %>
    </li>

    <li class="nav-item">
      <%= link_to(fa_icon('paper-plane', text: 'Messages'), '#', class: "nav-link") %>
    </li>

    <li class="nav-item">
      <%= link_to(fa_icon('check', text: 'Subscriptions'), subscriptions_path, class: "nav-link #{active_if(subscriptions_path)}") %>
    </li>
  </ul>

</div>
