<% title('Dashboard') %>

<div class="dashboard-main-content">

  <div class="container-fluid">

    <div class="row">
      <div class="col-12">
        <h1>Hello, <%= current_user.name %>!</h1>

        <div class="card dashboard-card">
          <%= image_tag('seoul-apartment', class: 'card-img-top opaque') %>
          <div class="card-block">
            <h4 class="card-title"><%= fa_icon('star-o', text: 'Favorites') %></h4>
            This is some text within a card block.
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>
    </div>

    <% owners_only do %>
      <div class="row">
        <div class="col-lg-6 col-xs-12">
          <div class="card dashboard-card">
            <div class="card-block">
              <h4 class="card-title"><%= link_to(fa_icon('home', text: 'My listings'), listings_path) %></h4>
              This is some text within a card block.
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-xs-12">
          <div class="card dashboard-card">
            <div class="card-block">
              <h4 class="card-title"><%= link_to fa_icon('plus', text: 'Add listing'), new_listing_path %></h4>
              This is some text within a card block.
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
      </div>
    <% end %>

    <div class="row">
      <div class="col-lg-6 col-xs-12">
        <div class="card dashboard-card">
          <div class="card-block">
            <h4 class="card-title"><%= fa_icon('inbox', text: 'Inbox') %></h4>
            This is some text within a card block.
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-xs-12">
        <div class="card dashboard-card">
          <div class="card-block">
            <h4 class="card-title"><%= fa_icon('smile-o', text: 'Buddy ups') %></h4>
            This is some text within a card block.
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>
    </div>



    <!-- Ads -->
    <div class="row">
      <div class="col-lg-6 col-xs-12">
        <div class="card dashboard-card">
          <div class="card-block">
            <h4 class="card-title"><%= link_to(fa_icon('file-text-o', text: 'My ads'), my_advertisements_path) %></h4>
            All your advertisements.
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>

      <div class="col-lg-6 col-xs-12">
        <div class="card dashboard-card">
          <div class="card-block">
            <h4 class="card-title"><%= link_to(fa_icon('pencil-square-o', text: 'Create ad'), new_advertisement_path) %></h4>
            Create an advertisement if you have a place to let, to rent or
            let people know if you are searching for a place to stay.
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>
    </div>
    <!-- End ads-->

  </div>
</div>
