<% title('Dashboard') %>

<div class="dashboard-main-content">

  <div class="container-fluid">
    
    <div class="row">
      <div class="col-12">
        <h1>Hello, <%= current_user.name %>!</h1>

        <div class="card dashboard-card">
          <%= image_tag('seoul-apartment', class: 'card-img-top') %>
          <div class="card-block">
            <h4 class="card-title"><%= fa_icon('star-o', text: 'Favorites') %></h4>
            This is some text within a card block.
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">

      <div class="col-lg-6 col-xs-12">

        <div class="card dashboard-card">
          <div class="card-block">
            <h4 class="card-title"><%= fa_icon('smile-o', text: 'Buddy ups') %></h4>
            This is some text within a card block.
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>

      </div>

      <div class="col-lg-6 col-xs-12">

        <div class="card dashboard-card">
          <div class="card-block">
            <h4 class="card-title"><%= fa_icon('file-text-o', text: 'My ads') %></h4>
            This is some text within a card block.
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>
