<% title (t('.title', resource: resource_class.model_name.human)) %>

<div class="dashboard-main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-7">
        <h1><%= t('.title', resource: resource_class.model_name.human) %></h1>

        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="basics-tab" data-toggle="tab" href="#basics" role="tab" aria-controls="basics" aria-selected="true">Basics</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="details-tab" data-toggle="tab" href="#details" role="tab" aria-controls="details" aria-selected="false">Details</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="profile-pictures-tab" data-toggle="tab" href="#profile-pictures" role="tab" aria-controls="profile-pictures" aria-selected="false">Profile picture</a>
          </li>
        </ul>

        <%= form_for(resource, as: resource_name, url: user_registration_path, html: { method: :patch, multipart: :true }) do |f| %>
          <br />
          <%= devise_error_messages! %>

          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="basics" role="tabpanel" aria-labelledby="basics-tab">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <%= f.label :first_name %><br />
                    <%= f.text_field :first_name, autofocus: true, class: 'form-control' %>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <%= f.label :last_name %><br />
                    <%= f.text_field :last_name, class: 'form-control' %>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <%= f.label :email %><br />
                <%= f.email_field :email, class: 'form-control' %>
              </div>

              <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                <div><%= t('.currently_waiting_confirmation_for_email', email: resource.unconfirmed_email) %></div>
              <% end %>

              <div class="form-group">
                <%= f.label :password %> <i>(<%= t('.leave_blank_if_you_don_t_want_to_change_it') %>)</i><br />
                <%= f.password_field :password, placeholder: @minimum_password_length ? "#{@minimum_password_length} characters minimum" : nil, autocomplete: "off", class: 'form-control' %>
              </div>

              <div class="form-group">
                <%= f.label :password_confirmation %><br />
                <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
              </div>

              <div class="form-group">
                <%= f.label :current_password %> <i>(<%= t('.we_need_your_current_password_to_confirm_your_changes') %>)</i><br />
                <%= f.password_field :current_password, autocomplete: "off", class: 'form-control' %>
              </div>

            </div>



            <div class="tab-pane fade" id="details" role="tabpanel" aria-labelledby="details-tab">
              <div class="form-group">
                <%= f.label :locale %><br />
                <%= f.select(:locale, [['English', 'en'], ['日本語', 'ja'], ['한국어', 'ko']], {}, {selected: current_user.locale, class: 'custom-select'}) %>
              </div>

              <div class="form-group">
                <%= f.label :birth_date %><br />
                <%= f.date_select :birth_date, { order: [:day, :month, :year], prompt: { day: 'Select day', month: 'Select month', year: 'Select year' }, start_year: Date.today.year - 18, end_year: Date.today.year - 100 } %>
              </div>

              <div class="form-group">
                <%= f.label :gender %><br />
                <%= f.select :gender, options_for_select(User::GENDERS.map {|gen| [gen.capitalize, gen]}, selected: resource.gender), { prompt: 'Undisclosed' }, { class: 'custom-select' } %>
              </div>

              <div class="form-group">
                <%= f.label :time_zone %><br />
                <%= f.collection_select :time_zone, ActiveSupport::TimeZone.all.sort, :name, :name, {}, { class: 'custom-select' } %>
              </div>
            </div>


            <div class="tab-pane fade" id="profile-pictures" role="tabpanel" aria-labelledby="profile-pictures-tab">
              <div class="form-group">
                <%= f.label :pictures %>
                <%= f.file_field :pictures, multiple: true %>
              </div>
            </div>
          </div>

          <div class="actions">
            <%= f.submit t('.update'), class: 'btn btn-primary' %>
          </div>
        <% end %>

        <hr />
        <h3><%= t('.cancel_my_account') %></h3>

        <div class="card">
          <div class="card-block">
            <p><%= t('.unhappy') %> <%= button_to t('.cancel_my_account'), user_registration_path, data: { confirm: t('.are_you_sure') }, method: :delete, class: 'btn btn-danger' %></p>
          </div>
        </div>
        <%# link_to t('devise.shared.links.back'), :back %>
      </div>
    </div>
  </div>
</div>
