<%= form_for(listing) do |f| %>
  <% if listing.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <strong><%= pluralize(listing.errors.count, 'error') %>
      prohibited this listing from being saved:</strong>
      <ul>
        <% listing.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset class="listing-step" v-if="activeStep === 0">
    <h2>Basics</h2>

    <div class="row">
      <div class="col">
        <div class="form-group">
          <strong><%= f.label :name %></strong><br>
          <%= f.text_field :name, class: 'form-control' %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="form-group">
          <strong><%= f.label :property_type %></strong><br>
          <%= f.select(:property_type, options_for_select(Listing::PROPERTY_TYPES.map {|type| [type.titleize, type]}, listing.property_type), class: 'form-control') %>
        </div>
      </div>
    </div>

    <input type='button' value="Next" name='next' @click="activeStep++" :disabled="activeStep === stepList.length - 1" class="btn btn-secondary" />

  </fieldset>

  <fieldset class="listing-step" v-if="activeStep === 1">
    <h2>Location</h2>
    <div class="row">
      <div class="col">

        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="radio" name="map_search" id="map_search_address" value="address" checked>
            Set by address
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="radio" name="map_search" id="map_search_coords" value="coords">
            Set by coordinates
          </label>
        </div>

      </div>
    </div>

    <fieldset name="address">
      <div class="row">
        <div class="col-6">
          <div class="form-group">
            <strong><%= f.label :city %></strong><br>
            <%= f.text_field :city, class: 'form-control' %>
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <strong><%= f.label :state %></strong><br>
            <%= f.text_field :state, class: 'form-control' %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="form-group">
            <strong><%= f.label :address %></strong><br>
            <%= f.text_field :address, class: 'form-control' %>
          </div>
        </div>
      </div>
    </fieldset>

    <fieldset name="coords" >
      <div class="row">
        <div class="col-6">
          <div class="form-group">
            <strong><%= f.label :lat, 'Latitude' %></strong><br>
            <%= f.number_field :lat, in: -90.0..90.0, step: :any, class: 'form-control', readonly: true %>
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <strong><%= f.label :lng, 'Longitude' %></strong><br>
            <%= f.number_field :lng, in: -180.0..180.0, step: :any, class: 'form-control', readonly: true %>
          </div>
        </div>
      </div>
    </fieldset>

    <div class="row">
      <div class="col-12">
        <div class="form-group">
          <strong>Map</strong><br>
          <div id="map-container">
            <div id='location-map'></div>
          </div>
        </div>
      </div>
    </div>

    <input type='button' value="Previous" name='prev' @click="activeStep--" :disabled="activeStep === 0"  class="btn btn-secondary" />
    <input type='button' value="Next" name='next' @click="activeStep++" :disabled="activeStep === stepList.length - 1"  class="btn btn-secondary" />

  </fieldset>

  <fieldset class="listing-step" v-if="activeStep === 2">
    <h2>Amenities</h2>
    <div class="row">
      <div class="col">
        <div class="form-group">
          <strong>Amenities</strong><br>
          ...
        </div>
      </div>
    </div>

    <input type='button' value="Previous" name='prev' @click="activeStep--" :disabled="activeStep === 0"  class="btn btn-secondary" />
    <input type='button' value="Next" name='next' @click="activeStep++" :disabled="activeStep === stepList.length - 1"  class="btn btn-secondary" />
    
  </fieldset>

  <fieldset class="listing-step" v-if="activeStep === 3">
    <h2>Images</h2>
    <div class="row">
      <div class="col">
        <div class="form-group">
          <strong>Amenities</strong><br>
          ...
        </div>
      </div>
    </div>

    <input type='button' value="Previous" name='prev' @click="activeStep--" :disabled="activeStep === 0"  class="btn btn-secondary" />

    <div class="row">
      <div class="col">
        <div class="actions">
          <%= f.submit class: 'btn btn-success' %>
        </div>
      </div>
    </div>
  </fieldset>
<% end %>
