<%= form_for(listing) do |f| %>
  <% if listing.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <strong><%= pluralize(listing.errors.count, 'error') %>
      prohibited this listing from being saved:</strong>
      <ul>
        <% listing.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="col">
      <div class="form-group">
        <strong><%= f.label :name %></strong><br>
        <%= f.text_field :name, class: 'form-control' %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="form-group">
        <strong><%= f.label :property_type %></strong><br>
        <%= f.select(:property_type, options_for_select(Listing::PROPERTY_TYPES.map {|type| [type.titleize, type]}, listing.property_type), class: 'form-control') %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      <div class="form-group">
        <strong><%= f.label :lat, 'Latitude' %></strong><br>
        <%= f.number_field :lat, in: -90.0..90.0, class: 'form-control' %>
      </div>
    </div>
    <div class="col-6">
      <div class="form-group">
        <strong><%= f.label :lng, 'Longitude' %></strong><br>
        <%= f.number_field :lng, in: -180.0..180.0, class: 'form-control' %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class-"form-group">
        <strong>Map</strong><br>
        <div id='location-map'></div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="actions">
        <%= f.submit class: 'btn btn-success' %>
      </div>
    </div>
  </div>
<% end %>

<script>ListingForm.init();</script>
