<%= form_for(
  listing,
  html: {
    id: 'listing_form',
    data: {
      listing: listing.to_json(except: [:user_id, :created_at, :updated_at])
    }
  }) do |f| %>
  <% if listing.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <strong><%= pluralize(listing.errors.count, 'error') %>
      prohibited this listing from being saved:</strong>
      <ul>
        <% listing.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset class="listing-step" v-if="activeStep === 0">
    <h2>Basics</h2>

    <div class="row">
      <div class="col-6">
        <div class="form-group">
          <strong><%= f.label :name, 'Property name' %></strong><br>
          <%= f.text_field :name, class: 'form-control', 'v-model': 'name' %>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <strong><%= f.label :property_type %></strong><br>
          <%= f.select(:property_type, options_for_select(Listing::PROPERTY_TYPES.map do |type|
            [type.titleize, type]
          end, listing.property_type), {}, {class: 'form-control', 'v-model': 'propertyType'}) %>
        </div>
      </div>
    </div>
  </fieldset>

  <fieldset class="listing-step" v-if="activeStep === 1">
    <h2>Location</h2>

    <div class="row">
      <div class="col">

        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="radio" name="map_search" id="map_search_address" value="address" v-on:click="byAddress = true" checked>
            Set by address
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="radio" name="map_search" id="map_search_coords" value="coords" v-on:click="byAddress = false">
            Set by coordinates
          </label>
        </div>

      </div>
    </div>

    <div id="listing-location">
      <transition name="fade">
        <fieldset id="listing-location-child" name="address" v-show="byAddress">
          <div class="row">
            <div class="col">
              <div class="form-group">
                <strong><%= f.label :city %></strong><br>
                <%= f.text_field :city, class: 'form-control', 'v-model': 'city', 'v-bind:readonly': '!byAddress', 'v-on:change': 'updateLocation' %>
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <strong><%= f.label :state %></strong><br>
                <%= f.text_field :state, class: 'form-control', 'v-model': 'state', 'v-bind:readonly': '!byAddress', 'v-on:change': 'updateLocation' %>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <div class="form-group">
                <strong><%= f.label :address %></strong><br>
                <%= f.text_field :address, class: 'form-control', 'v-model': 'address', 'v-bind:readonly': '!byAddress', 'v-on:change': 'updateLocation' %>
              </div>
            </div>
          </div>
        </fieldset>
      </transition>

      <transition name="fade">
        <fieldset id="listing-location-child" name="coords" v-show="!byAddress">
          <div class="row">
            <div class="col">
              <div class="form-group">
                <strong><%= f.label :lat, 'Latitude' %></strong><br>
                <%= f.number_field :lat, in: -90.0..90.0, step: :any, class: 'form-control', 'v-model': 'lat', 'v-bind:readonly': 'byAddress' %>
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <strong><%= f.label :lng, 'Longitude' %></strong><br>
                <%= f.number_field :lng, in: -180.0..180.0, step: :any, class: 'form-control', 'v-model': 'lng', 'v-bind:readonly': 'byAddress' %>
              </div>
            </div>
          </div>
        </fieldset>
      </transition>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="form-group">
          <strong>Map</strong><br>
          <div v-show="displayMap == true">
            <div id="map-container">
              <div id='location-map'></div>
            </div>
          </div>
          <div id="no-map" v-show="displayMap == false">
            No map to display
          </div>
        </div>
      </div>
    </div>
  </fieldset>

  <fieldset class="listing-step" v-if="activeStep === 2">
    <h2>Amenities</h2>

    <div class="row">
      <div class="col-5">
        <div class="form-group">
          <div class="custom-controls-stacked">

            <div v-for="(amenity, idx) in amenities">
              <label class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" v-model="checkedAmenities[idx]" :value="amenity.id">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">{{ amenity.text }}</span>
              </label>
            </div>

          </div>
        </div>
      </div>
    </div>
  </fieldset>

  <fieldset class="listing-step" v-if="activeStep === 3">
    <h2>Images</h2>

    <div class="row">
      <div class="col">
        <div class="form-group">
          <strong>Images</strong><br>
          ...
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="actions">
          <%= f.submit class: 'btn btn-success', 'v-on:click.prevent': 'submitListing' %>
        </div>
      </div>
    </div>
  </fieldset>
<% end %>
