<%= form_for(
  listing,
  html: {
    multipart: true,
    id: 'listing_form',
    data: {
      listing: listing.to_json(except: [:user_id, :created_at, :updated_at])
    }
  }) do |f| %>

  <fieldset class="listing-step" v-show="activeStep === 0">
    <h2>Basics</h2>

    <div class="row">
      <div class="col-6">
        <div class="form-group">
          <strong><%= f.label :name, 'Property name', class: 'required-field' %></strong><br>
          <%= f.text_field(:name,
            class: 'form-control',
            'v-bind:class': 'validateClass($v.name)',
            'v-model.trim': 'name',
            '@input': "$v.name.$touch()") %>
          <div class="invalid-feedback" v-if="!$v.name.required && $v.name.$dirty">Field is required</div>
          <div class="invalid-feedback" v-if="!$v.name.minLength">Name must have at least {{$v.name.$params.minLength.min}} letters.</div>
        </div>
      </div>
      <div class="col-6">
        <div class="form-group">
          <strong><%= f.label :property_type, class: 'required-field' %></strong><br>
          <%= f.select(:property_type, options_for_select(Listing::PROPERTY_TYPES.map do |type|
            [type.titleize, type]
          end, listing.property_type), {}, {
            required: true,
            class: 'form-control',
            'v-bind:class': 'validateClass($v.propertyType)',
            '@change': "$v.propertyType.$touch()",
            'v-model': 'propertyType'}) %>
          <div class="invalid-feedback" v-if="!$v.propertyType.required && $v.propertyType.$dirty">Field is required</div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-6">
        <div class="form-group">
          <strong><%= f.label :bedrooms, class: 'required-field' %></strong><br>
          <%= f.number_field :bedrooms, in: (0..10),
            class: 'form-control',
            'v-bind:class': 'validateClass($v.bedrooms)',
            'v-model.number': 'bedrooms',
            '@change': "$v.bedrooms.$touch()" %>
          <div class="invalid-feedback" v-if="!$v.bedrooms.required && $v.bedrooms.$dirty">Field is required</div>
          <div class="invalid-feedback" v-if="!$v.bedrooms.between">Input must be between {{$v.bedrooms.$params.between.min}} and {{$v.bedrooms.$params.between.max}}</div>
        </div>
      </div>
      <div class="col-6">
        <div class="form-group">
          <strong><%= f.label :beds, class: 'required-field' %></strong><br>
          <%= f.number_field :beds, in: (0..10),
            class: 'form-control',
            'v-bind:class': 'validateClass($v.beds)',
            'v-model.number': 'beds',
            '@change': "$v.beds.$touch()" %>
          <div class="invalid-feedback" v-if="!$v.beds.required && $v.beds.$dirty">Field is required</div>
          <div class="invalid-feedback" v-if="!$v.beds.between">Input must be between {{$v.beds.$params.between.min}} and {{$v.beds.$params.between.max}}</div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-6">
        <div class="form-group">
          <strong><%= f.label :bathrooms, class: 'required-field' %></strong><br>
          <%= f.number_field :bathrooms, in: (0..10),
            class: 'form-control',
            'v-bind:class': 'validateClass($v.bathrooms)',
            'v-model.number': 'bathrooms',
            '@change': "$v.bathrooms.$touch()" %>
          <div class="invalid-feedback" v-if="!$v.bathrooms.required && $v.bathrooms.$dirty">Field is required</div>
          <div class="invalid-feedback" v-if="!$v.bathrooms.between">Input must be between {{$v.bathrooms.$params.between.min}} and {{$v.bathrooms.$params.between.max}}</div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <h2>Images</h3>
        <vue-dropzone
          ref="listingDropzone"
          id="dropzone"
          @vdropzone-success-multiple="listingRedirect"
          :options="dropzoneOptions">
        </vue-dropzone>
      </div>
    </div>
  </fieldset>

  <fieldset class="listing-step" v-show="activeStep === 1">
    <h2>Location</h2>

    <div class="row">
      <div class="col">

        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="radio" name="map_search" id="map_search_address" value="address" v-on:click="byAddress = true" checked>
            Set by address
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="radio" name="map_search" id="map_search_coords" value="coords" v-on:click="byAddress = false">
            Set by coordinates
          </label>
        </div>

      </div>
    </div>

    <div id="listing-location">
      <transition name="fade">
        <fieldset id="listing-location-child" name="address" v-show="byAddress">
          <div class="row">
            <div class="col">
              <div class="form-group">
                <strong><%= f.label :city %></strong><br>
                <%= f.text_field :city, class: 'form-control', 'v-model': 'city', 'v-bind:readonly': '!byAddress', 'v-on:change': 'updateLocation' %>
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <strong><%= f.label :state %></strong><br>
                <%= f.text_field :state, class: 'form-control', 'v-model': 'state', 'v-bind:readonly': '!byAddress', 'v-on:change': 'updateLocation' %>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <div class="form-group">
                <strong><%= f.label :address %></strong><br>
                <%= f.text_field :address, class: 'form-control', 'v-model': 'address', 'v-bind:readonly': '!byAddress', 'v-on:change': 'updateLocation' %>
              </div>
            </div>
          </div>
        </fieldset>
      </transition>

      <transition name="fade">
        <fieldset id="listing-location-child" name="coords" v-show="!byAddress">
          <div class="row">
            <div class="col">
              <div class="form-group">
                <strong><%= f.label :lat, 'Latitude', class: 'required-field' %></strong><br>
                <%= f.number_field :lat, in: -90.0..90.0, step: :any, class: 'form-control', 'v-model': 'lat', 'v-bind:readonly': 'byAddress' %>
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <strong><%= f.label :lng, 'Longitude', class: 'required-field' %></strong><br>
                <%= f.number_field :lng, in: -180.0..180.0, step: :any, class: 'form-control', 'v-model': 'lng', 'v-bind:readonly': 'byAddress' %>
              </div>
            </div>
          </div>
        </fieldset>
      </transition>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="form-group">
          <strong>Map</strong><br>
          <div v-show="displayMap">
            <div id="map-container">
              <div id='location-map'></div>
            </div>
          </div>
          <div id="no-map" v-show="!displayMap">
            No map to display
          </div>
        </div>
      </div>
    </div>
  </fieldset>

  <fieldset class="listing-step" v-show="activeStep === 2">
    <h2>Amenities</h2>

    <div class="row">
      <div class="col-5">
        <div class="form-group">
          <div class="custom-controls-stacked">

            <div v-for="(amenity, idx) in amenities">
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" v-bind:id="amenity.text" v-model="checkedAmenities[idx]" :value="amenity.id">
                <label class="custom-control-label" v-bind="{ 'for': amenity.text }" >{{ amenity.text }}</label>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </fieldset>

  <fieldset class="listing-step" v-show="activeStep === 3">
    <h2>Description</h2>

    <div class="row">
      <div class="col">
        <div class="form-group">
          <strong><%= f.label :description, 'Property description' %></strong><br>
          <%= f.text_area :description, rows: 4, class: 'form-control', 'v-model': 'description' %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="actions">
          <%= f.submit class: 'btn btn-success', 'v-on:click.stop.prevent': 'submitListing' %>
        </div>
      </div>
    </div>
  </fieldset>
<% end %>
