<% title('My listings') %>

<div class="dashboard-main-content">

  <div class="container-fluid">
    <h1><%= fa_icon('home', text: 'My listings') %></h1>

    <% @listings.in_groups_of(2) do |group| %>
      <div class="row">
        <% if group[1].nil? %>
          <% listing = group.first %>
          <div class="col">
            <div class="card dashboard-card">
              <div class="card-block">
                <h4 class="card-title"><%= listing.name %></h4>
                This is some text within a card block.
              </div>

              <div class="card-block">
                <%= link_to fa_icon('pencil', text: 'Edit'), edit_listing_path(listing) %>
              </div>
              <div class="card-block">
                <%= link_to fa_icon('trash', text: 'Delete'), listing_path(listing), method: :delete, data: {confirm: 'Are you sure you would like to delete this listing?'} %>
              </div>

              <div class="card-footer">
                <small class="text-muted">Added <%= time_ago_in_words(listing.created_at) %> ago</small>
              </div>
            </div>
          </div>
        <% else %>
          <% group.each do |listing| %>
            <div class="col-lg-6 col-xs-12">
              <div class="card dashboard-card">
                <div class="card-block">
                  <h4 class="card-title"><%= listing.name %></h4>
                  This is some text within a card block.
                </div>

                <div class="card-block">
                  <%= link_to fa_icon('pencil', text: 'Edit'), edit_listing_path(listing) %>
                </div>
                <div class="card-block">
                  <%= link_to fa_icon('trash', text: 'Delete'), listing_path(listing), method: :delete, data: {confirm: 'Are you sure you would like to delete this listing?'} %>
                </div>

                <div class="card-footer">
                  <small class="text-muted">Added <%= time_ago_in_words(listing.created_at) %> ago</small>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
