<% title(@listing.name) %>

<div class="dashboard-main-content">
  <div class="container-fluid">
    <h1><%= @listing.name %></h1>
    <ul>
      <li>
        <strong>Property type:</strong> <%= @listing.property_type %>
      </li>
      <li>
        <strong>Address:</strong> <%= "#{@listing.address}, #{@listing.city}, #{@listing.state}" %>
      </li>
      <li>
        <strong>Amenities:</strong>
        <ul>
          <% @listing.amenities.each do |amenity| %>
            <li><%= amenity %></li>
          <% end %>
        </ul>
      </li>
      <li>
        <strong>Bedrooms</strong> <%= @listing.bedrooms %>
      </li>
      <li>
        <strong>Beds</strong> <%= @listing.beds %>
      </li>
      <li>
        <strong>Bathrooms</strong> <%= @listing.bathrooms %>
      </li>
      <li>
        <strong>Description</strong> <%= @listing.description %>
      </li>
    </ul>

    <%= link_to fa_icon('pencil', text: 'Edit listing'), edit_listing_path(@listing) %>

    <hr />
    <h3><%= fa_icon('upload', text: 'Add image') %></h3>
    <%= form_tag add_picture_listing_path, method: 'post', id: 'picture-dropzone', class: :dropzone, multipart: true do |f| %>
      <%= hidden_field_tag :image %>
    <% end %>

    <% if @listing.pictures.present? %>
      <hr />
      <h3><%= fa_icon('file-image-o', text: 'Uploaded images')%></h3>
      <% @listing.pictures.each do |pic| %>
        <%= image_tag pic.image_url, width: '150px' %>
      <% end %>
    <% end %>
    <hr />

   <%= render 'common/carousel', obj: @listing %>
  
  </div>
</div>
