<% title(@listing.name) %>

<div class="dashboard-main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <h1><%= @listing.name %></h1>

        <div class="row">
          <div class="col">
            <%= fa_icon 'building', text: 'Property type:' %></strong> <%= @listing.property_type.capitalize %>
          </div>
        </div>
        <br />
        <div class="row">
          <div class="col">
            <%= fa_icon 'location-arrow', text: 'Address' %></strong> <%= "#{@listing.address}, #{@listing.city}, #{@listing.state}" %>
          </div>
        </div>
        <br />
        <div class="row">
          <div class="col-lg-4">
            <%= fa_icon('cubes', text: (@listing.bedrooms == 1 ? 'Bedroom' : 'Bedroom'.pluralize)) %>  <%= @listing.bedrooms %>
          </div>
          <div class="col-lg-4">
            <%= fa_icon('bed', text: (@listing.beds == 1 ? 'Bed' : 'Bed'.pluralize)) %> <%= @listing.beds %>
          </div>
          <div class="col-lg-4">
            <%= fa_icon('bath', text: (@listing.bathrooms == 1 ? 'Bathroom' : 'Bathroom'.pluralize)) %> <%= @listing.bathrooms %>
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="col">
            <strong><%= fa_icon 'money', text: 'Price:' %></strong>
            <ul>
              <li>Weekly: <%= humanized_money_with_symbol(@listing.price) %></li>
            </ul>
          </div>
        </div>
        <hr />

        <div class="row">
          <div class="col">
            <strong><%= fa_icon 'info-circle', text: 'Description:' %></strong>
            <p>
              <%= @listing.description %>
            </p>
          </div>
        </div>
        <hr />

        <strong><%= fa_icon 'cutlery', text: 'Amenities' %></strong>
          <ul>
            <% @amenity_list_attributes.each do |attr_name, attr_value| %>
              <%= content_tag :li, attr_name.humanize, class: (attr_value ? '' : 'amenity-absent') %>
            <% end %>
          </ul>
        <hr/>
        <%= link_to fa_icon('pencil', text: 'Edit listing'), edit_listing_path(@listing) %>
      </div>
      <div class="col-md-4">
        <%= render 'common/carousel', obj: @listing %>
        <hr />
        <h3>Owner</h3>
        <div class="row">
          <div class="col-6">
            <p>
              <%= @owner != current_user ? @owner.full_name : @owner.first_name %>
            </p>
            <strong>Languages</strong>

          </div>
          <div class="col-6">
            <%= image_tag @owner.profile_picture.thumb.url, class: 'mx-auto d-block profile-picture-tiny rounded-circle' %>
          </div>
        </div>
        <% if @owner != current_user %>
          <div class="row">
            <div class="col">
              <%= link_to chatrooms_path(sender: current_user, receiver: @owner), method: :post, class: 'btn btn-secondary' do %>
                <%= fa_icon('paper-plane', text: "Message #{@owner.first_name}") %>
              <% end %>
            </div>
          </div>
        <% end %>
        </div>
      </div>
    </div>

  </div>
</div>
