<% title(@listing.name) %>

<div class="dashboard-main-content">
  <div class="container-fluid">
    <h1><%= @listing.name %></h1>
    <strong>Property type:</strong> <%= @listing.property_type %><br />
    <strong>Address:</strong> <%= "#{@listing.address}, #{@listing.city}, #{@listing.state}" %><br />
    <strong>Amenities:</strong>
    <ul>
      <% @listing.amenities.each do |amenity| %>
        <li><%= amenity %></li>
      <% end %>
    </ul>
    <%= link_to fa_icon('pencil', text: 'Edit listing'), edit_listing_path(@listing) %>
  </div>
</div>
