<div class="container">
  <h2 class="text-center blue">Contact us</h2>
  <%= form_for @message, url: create_message_url do |f| %>

    <% if notice.present? %>
      <div class="alert alert-success" role="alert">
        <%= notice %>
      </div>
    <% end %>

    <% if @message.errors.present? %>
      <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading">Oops!</h4>
        <ul>
        <% @message.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="row">
      <div class="col">
        <div class="form-group">
          <%= f.text_field :name, placeholder: 'Name', class: 'form-control' %>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <%= f.email_field :email, placeholder: 'Email', class: 'form-control' %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="form-group">
          <%= f.text_area :body, placeholder: 'Message body', class: 'form-control' %>
        </div>
      </div>
    </div>

    <%= f.submit 'Send', class: 'btn btn-primary', data: {disable_with: 'Submitting...'} %>
  <% end %>
</div>
