<% title(@chatroom.name) %>

<div class="dashboard-main-content">
  <div class="container-fluid">

    <div class="row">
      <div class="col-12">
        <strong>Name:</strong>
        <%= @chatroom.name %>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div data-behavior="messages" data-chatroom-id="<%= @chatroom.id %>">
          <% @messages.each do |message| %>
            <%= render message %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <%= form_for [@chatroom, Message.new] do |f| %>
          <div class="form-group">
            <%= f.text_area :body, class: 'form-control', autofocus: true %>
          </div>
        <% end %>
      </div>
    </div>

  </div>
</div>

<%= link_to 'Edit', edit_chatroom_path(@chatroom) %> |
<%= link_to 'Back', chatrooms_path %>
