<% title t('.title') %>

<div class="dashboard-main-content">
  <div class="container-fluid">
    <h1><%= "#{t('.title')} - #{@user.name}" %></h1>

    <div class="row">
      <div class="col-12">

        <div class="card dashboard-card">
          <div class="card-block">
            <h4 class="card-title"><%= fa_icon('envelope', text: "#{t('.email')}: #{@user.email}") %></h4>
            Your e-mail will not be visible to users.
            <hr />
            <h4 class="card-title"><%= fa_icon('map-marker', text: "#{t('.location')}: Earth") %></h4>
            Your general location.
            <hr />
            <h4 class="card-title"><%= fa_icon('globe', text: "#{t('.language')}: #{t('language')}") %></h4>
          </div>
          <div class="card-footer">
            <small class="text-muted">Profile last updated <%= time_ago_in_words(current_user.updated_at) %> ago</small>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>
