<% title t('.title') %>

<div class="dashboard-main-content">
  <div class="container-fluid">
    <h1><%= t('.title') %></h1>

    <div class="row">
      <div class="col-12">

        <div class="card dashboard-card">
          <div class="card-block">
            <div class="row">
              <div class="col-md-6">
                <h2><%= @user.full_name %></h2>
                <p>
                  <% if @user.biography.present? %>
                    <%= @user.biography %>
                  <% else %>
                    <%= t('.no_bio') %>
                  <% end %>
                </p>
              </div>
              <div class="col-md-6">
                <% if @user.profile_picture.present? %>
                  <%= image_tag @user.profile_picture.thumb.url, class: 'profile-picture rounded-circle' %>
                    <p>
                      (<%= "#{t('.image_size')}: #{number_to_human_size(current_user.profile_picture.size)}" %>)
                    </p>
                <% else %>
                  <%= fa_icon('user-circle 5x') %>
                  <p>
                    <%= t('.no_profile_picture') %>
                  </p>
                <% end %>
              </div>
            </div>

            <hr />

            <div class="row">
              <div class="col-md-6">
                <h4 class="card-title"><%= fa_icon('envelope', text: t('.email')) %></h4>
                <%= @user.email %>
              </div>
              <div class="col-md-6">
                <h4 class="card-title"><%= fa_icon('birthday-cake', text: t('.birth_date')) %></h4>
                <% if @user.birth_date.present? %>
                  <%= @user.birth_date.strftime("%B %e, %Y") %>
                <% else %>
                  No birthdate entered
                <% end %>
              </div>
            </div>

            <hr />

            <div class="row">
              <div class="col-md-6">
                <h4 class="card-title"><%= fa_icon('globe', text: t('.timezone')) %></h4>
                <%= @user.time_zone %>
              </div>
              <div class="col-md-6">
                <h4 class="card-title"><%= fa_icon('language', text: t('.language')) %></h4>
                <%= user_language %>
              </div>
            </div>

          </div>

          <div class="card-footer">
            <small class="text-muted">Profile created <%= "#{time_ago_in_words(current_user.created_at)} #{t('time.ago')}" %></small>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>
