<div class="col-md-12 col-lg-6">
  <div class="card dashboard-card">
    <div class="card-block">
      <h4 class="card-title"><%= fa_icon('user') %> <%= link_to("#{ad.user.name} - #{ad.title}", advertisement_path(ad)) %></h4>
      <%= display_ad_type(ad) %>
      <%= ad.body %>
    </div>

    <% unless @mine %>
      <div class="d-flex justify-content-center">
        <button type="button" class="btn btn-secondary btn-sm">Message <%= ad.user.name %></button>
      </div>
    <% end %>

    <div class="card-footer">
      <small class="text-muted">Posted <%= "#{time_ago_in_words(ad.created_at)} #{t('time.ago')}" %></small>
    </div>
  </div>
</div>
