<% title(@advertisement.title) %>

<div class="dashboard-main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col">

        <div class="card dashboard-card">
          <div class="card-block">
            <h4 class="card-title"><%= link_to(fa_icon('user', text: "#{@advertisement.user.first_name} - #{@advertisement.title}"), advertisement_path(@advertisement)) %></h4>
            <%= display_ad_type(@advertisement) %>
            <%= @advertisement.body %>
          </div>

          <div class="card-block">
            <h3><%= fa_icon('upload', text: 'Add image') %></h3>
            <%= form_tag add_picture_advertisement_path, method: 'post', id: 'picture-dropzone', class: :dropzone, multipart: true do |f| %>
              <%= hidden_field_tag :image %>
            <% end %>

            <%= render 'common/carousel', obj: @advertisement %>
          </div>

          <div class="card-footer">
            <small class="text-muted"><%= "Posted on #{@advertisement.created_at}" %></small>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
