<section class="gray-section" id="subscribe">
  <div class="container">
    <div class="row">
      <div class="col-md-7 offset-md-3">
        <h2 class="text-center">Interested? We'll keep you posted</h2>

        <%= render 'common/notice' %>

        <%= render partial: 'common/errors', locals: {obj: @register_email} %>

        <div class="pill">
          <%= form_for @register_email, class: 'form-inline', url: {action: 'register', anchor: 'subscribe'} do |f| %>
            <div class="row">
              <div class="col">
                <%= f.email_field :email, placeholder: 'your@email.com', class: 'form-control' %>
              </div>

              <div class="col">
                <%= f.submit 'Subscribe', class: 'pill-btn', data: {disable_with: 'Submitting...'} %>
              </div>
            </div>
          <% end %>
        </div>

      </div>
    </div>
  </div>
</section>
