<section id="s_form">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-7">
        <h2 class="text-center blue">Interested?</h2>
        <h3 class="text-center blue">We'll keep you posted ✌️</h3>

        <%= render 'common/notices' %>
        <%= render partial: 'common/form_errors', locals: {obj: @subscribe_email} %>

        <div class="pill">
          <%= form_for @subscribe_email, class: 'form-inline', url: {action: 'subscribe', anchor: 's_form'} do |f| %>
            <div class="row">
              <div class="col-8">
                <%= f.email_field :email, placeholder: 'your@email.com', class: 'form-control' %>
              </div>

              <div class="col-4">
                <%= f.submit 'Subscribe', class: 'pill-btn', data: {disable_with: 'Submitting...'} %>
              </div>
            </div>
          <% end %>
        </div>

      </div>
    </div>
  </div>
</section>
