<h2>Basics</h2>

<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <strong><%= f.label :name, 'Property name', class: 'required-field' %></strong><br>
      <%= f.text_field(:name,
        class: 'form-control',
        'v-bind:class': 'validateClass($v.name)',
        'v-model.trim': 'name',
        '@input': "$v.name.$touch()") %>
      <div class="invalid-feedback" v-if="!$v.name.required && $v.name.$dirty">Field is required</div>
      <div class="invalid-feedback" v-if="!$v.name.minLength">Name must have at least {{$v.name.$params.minLength.min}} letters.</div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <strong><%= f.label :property_type, class: 'required-field' %></strong><br>
      <%= f.select(:property_type, options_for_select(Listing::PROPERTY_TYPES.map do |type|
        [type.titleize, type]
      end, listing.property_type), {}, {
        required: true,
        class: 'form-control',
        'v-bind:class': 'validateClass($v.propertyType)',
        '@change': "$v.propertyType.$touch()",
        'v-model': 'propertyType'}) %>
      <div class="invalid-feedback" v-if="!$v.propertyType.required && $v.propertyType.$dirty">Field is required</div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <strong><%= f.label :bedrooms, class: 'required-field' %></strong><br>
      <%= f.number_field :bedrooms, in: (0..10),
        class: 'form-control',
        'v-bind:class': 'validateClass($v.bedrooms)',
        'v-model.number': 'bedrooms',
        '@change': "$v.bedrooms.$touch()" %>
      <div class="invalid-feedback" v-if="!$v.bedrooms.required && $v.bedrooms.$dirty">Field is required</div>
      <div class="invalid-feedback" v-if="!$v.bedrooms.between">Input must be between {{$v.bedrooms.$params.between.min}} and {{$v.bedrooms.$params.between.max}}</div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <strong><%= f.label :beds, class: 'required-field' %></strong><br>
      <%= f.number_field :beds, in: (0..10),
        class: 'form-control',
        'v-bind:class': 'validateClass($v.beds)',
        'v-model.number': 'beds',
        '@change': "$v.beds.$touch()" %>
      <div class="invalid-feedback" v-if="!$v.beds.required && $v.beds.$dirty">Field is required</div>
      <div class="invalid-feedback" v-if="!$v.beds.between">Input must be between {{$v.beds.$params.between.min}} and {{$v.beds.$params.between.max}}</div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <strong><%= f.label :bathrooms, class: 'required-field' %></strong><br>
      <%= f.number_field :bathrooms, in: (0..10),
        class: 'form-control',
        'v-bind:class': 'validateClass($v.bathrooms)',
        'v-model.number': 'bathrooms',
        '@change': '$v.bathrooms.$touch()' %>
      <div class="invalid-feedback" v-if="!$v.bathrooms.required && $v.bathrooms.$dirty">Field is required</div>
      <div class="invalid-feedback" v-if="!$v.bathrooms.between">Input must be between {{$v.bathrooms.$params.between.min}} and {{$v.bathrooms.$params.between.max}}</div>
    </div>
  </div>
</div>

<h2>Price</h2>
<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <strong><%= f.label :price_currency, text: 'Currency' %></strong><br>
      <%= f.select(:price_currency, options_for_select(@currency_options), {}, { required: true, class: 'form-control', 'v-model': 'priceCurrency', '@change': 'switchCurrencySymbol()' }) %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <strong>
        <%= f.label :price_per_week, class: 'required-field' %>
      </strong><br />
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">
            {{ currencySymbol }}
          </div>
        </div>
        <%= f.number_field(
          :price_per_week,
          in: (0.0..10000.0),
          step: 0.01,
          class: 'form-control',
          'v-bind:class' => 'validateClass($v.pricePerWeek)',
          'v-model' => 'pricePerWeek',
          '@change': '$v.pricePerWeek.$touch(); weeklyPriceHandler()') %>
        <div class="invalid-feedback" v-if="!$v.pricePerWeek.required && $v.pricePerWeek.$dirty">Field is required</div>
        <div class="invalid-feedback" v-if="!$v.pricePerWeek.between">Input must be between {{$v.pricePerWeek.$params.between.min}} and {{$v.pricePerWeek.$params.between.max}}</div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <strong>
        <%= f.label :price_per_month, class: 'required-field' %>
      </strong><br />
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">
            {{ currencySymbol }}
          </div>
        </div>
        <%= f.number_field(
          :price_per_month,
          in: (0.0..10000.0),
          step: 0.01,
          class: 'form-control',
          'v-bind:class' => 'validateClass($v.pricePerMonth)',
          'v-model' => 'pricePerMonth',
          '@change': '$v.pricePerMonth.$touch(); monthlyPriceHandler()') %>
        <div class="invalid-feedback" v-if="!$v.pricePerMonth.required && $v.pricePerMonth.$dirty">Field is required</div>
        <div class="invalid-feedback" v-if="!$v.pricePerMonth.between">Input must be between {{$v.pricePerMonth.$params.between.min}} and {{$v.pricePerMonth.$params.between.max}}</div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col">
    <h2>Listing pictures</h2>
    <vue-dropzone
      ref="listingDropzone"
      id="dropzone"
      @vdropzone-sending-multiple="sendingEvent"
      @vdropzone-success-multiple="listingRedirect"
      :options="dropzoneOptions">
    </vue-dropzone>
  </div>
</div>
