<!DOCTYPE html>
<html>
  <head lang="<%= user_locale %>">
    <%= render 'common/meta_tags' %>
    <%= content_tag :title, (content_for?(:title) ? yield(:title) : t(:website)) %>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'dashboard' %>
  </head>

  <body>

    <div class="column-layout">

      <div class="column-layout-left">
        <%= render 'dashboard/sidebar' %>
      </div>

      <div class="column-layout-right">
        <%= render 'dashboard/topbar' %>

        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <%= render 'common/notices' %>
            </div>
          </div>
        </div>

        <%= yield %>
      </div>
    </div>
    <%= render 'common/footer' %>
  </body>
</html>
